.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 0;
}
hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
.actions .glyphicon {
	cursor: pointer;
}
#mom-form .label {
	padding: 2px;
	font-size: 12px;
	margin-right: 4px;
	margin-top: 4px;
	display: inline-block;
}
#mom-form .table .form-control {
	padding: 2px;
	font-size: 12px;
	height: 24px;
	display: inline-block;
	/*border: 0;*/
}
#mom-form .table>tbody>tr>td, 
#mom-form .table>tbody>tr>th, 
#mom-form .table>tfoot>tr>td, 
#mom-form .table>tfoot>tr>th, 
#mom-form .table>thead>tr>td, 
#mom-form .table>thead>tr>th {
	padding: 0;
}
table.table {
	font-size: 14px;
}
.attendees-wrapper {
	margin-top: 2px;
/*	overflow: auto; */
	min-height: 70px;
    height: auto;
    margin-bottom: 15px;
}
.toolbar .btn {
	padding: 2px;
}
/*
.ta-editor {
  min-height: 80px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}
*/
.ta-hidden-input {
	display: none;
}
li.active .glyphicon {
	color: #fff;
}
.red {
	color: red;
}
.ta-editor, .ta-editor > .ta-bind {
  min-height: 100px;
    padding: 0;
    height: auto;
}
.ta-editor > .ta-bind {
 padding: 2px;   
}
.ta-editor > .ta-bind .fa {
    border: 1px dotted #5bc0de;
    padding: 2px;
}
.mom-details-wrapper .topic {
    padding: 5px;
}