<!DOCTYPE html>
<html ng-app="MOMApp">
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Minutes of Meeting - Home</title>
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/lib/font-awesome-4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="/css/sticky-footer.css">

		<script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script type="text/javascript" src="bower_components/zeroclipboard/dist/ZeroClipboard.min.js"></script>
		<script type="text/javascript" src="bower_components/ng-clip/dest/ng-clip.min.js"></script>
        <script type="text/javascript" src="bower_components/spin.js/spin.js"></script>
        <script type="text/javascript" src="bower_components/angular-spinner/angular-spinner.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-loading-spinner/angular-loading-spinner.js"></script>
		<script type="text/javascript" src="lib/textAngular-1.3.8/dist/textAngular-sanitize.min.js"></script>
		<script type="text/javascript" src="lib/textAngular-1.3.8/dist/textAngular-rangy.min.js"></script>
		<script type="text/javascript" src="lib/textAngular-1.3.8/dist/textAngular.min.js"></script>
		
		<script type="text/javascript" src="mom-app.js"></script>
	</head>
	<body>
	
		<div id="header" ng-controller="HeaderCtrl">
			<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/dashboard">Minutes of Meeting</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">		
        <li><a href="#/mom/create">Create MOM</a></li>
		<li><a href="#/projects">Projects</a></li>
		<li><a href="#/team-members">Team Members</a></li>
		<li><a href="#/reports">Reports</a></li>
		<li><a href="#" ng-click="logout()">Logout</a></li>
		<li><a href="javascript: void();" style="cursor: default; color: #000;">Ola, {{currentUser.name}}</a></li>		
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
			</nav>
		</div> <!-- header -->
		
        <span us-spinner="{radius:30, width:8, length: 16}"></span>
		<div ng-view></div>
    
		<footer class="footer">
			<div class="container">
				Developed by Kevin Gomes. 2015.
			</div>
		</footer>
	</body>
</html>