<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="modal-title">{{form.title}} <span class="label label-default" style="cursor: pointer;" ng-click="gotoPath('/dashboard')">Back to Dashboard</span></h3><hr/>
			
			<form id="mom-form" name="MomForm">
			<div class="row">
				<div class="col-md-3">
					<!--input type="text" ng-model="mom.project" placeholder="Project" class="form-control"/-->
					<select ng-required="true" name="project" class="form-control" ng-disabled="form.action == 'edit'" ng-change="form.populateAttendeesFromProject()" ng-model="mom.project" ng-options="project.name for project in projects track by project._id"></select>
				</div>
				<div class="col-md-3">
					<input type="text" ng-model="mom.title" placeholder="Title" class="form-control"/>
				</div>
				<div class="col-md-3">
					<input ng-required="true" type="text" ng-model="form.minutesTaker" placeholder="Minutes Taker" class="form-control"
						typeahead="taker.name for taker in teamMembers | filter:$viewValue | limitTo:8"
						typeahead-on-select="form.minutesTakerSelected($item, $model, $label)"/>					
				</div>
				<div class="col-md-3">
					<input type="text" ng-model="form.attendeeName" placeholder="Type to add Attendees.." class="form-control"
					typeahead="attendee.name for attendee in teamMembers | filter:$viewValue | limitTo:8"
					typeahead-on-select="form.attendeeSelected($item, $model, $label)"/>
				</div>
			</div>
			<div class="attendees-wrapper">				
				<strong>Attendees: </strong> <span ng-if="form.attendees.length == 0">-NONE-</span>
				<span class="label label-default" ng-repeat="selAtt in form.attendees" >
					{{selAtt.name}} ({{selAtt.email}}) 
					<span class="badge" style="cursor: pointer;" ng-click="form.removeAttendee(selAtt)">x</span>
				</span>
			</div>
			
			<!--span class="glyphicon glyphicon-sort"></span-->
			<div class="toolbar" style="margin-bottom: 5px;">
				<button class="btn btn-primary btn-sm" ng-click="form.addRow()">Add Row</button>
				<button class="btn btn-primary btn-sm" ng-click="form.removeEmpty()" ng-disabled="mom.items.length < 2">Remove Empty</button>
				<button class="btn btn-primary btn-sm" ng-disabled="form.selectedRow == null" ng-click="form.moveRowUp()">Move Up</button>
				<button class="btn btn-primary btn-sm" ng-disabled="form.selectedRow == null" ng-click="form.moveRowDown()">Move Down</button>
				<button class="btn btn-danger btn-sm" ng-disabled="form.selectedRow == null" ng-click="form.removeRow()">Delete</button>
			</div>
                       
            <div class="task-grid">
                <div class="row" ng-init="rowNum = $index" ng-repeat="row in mom.items" style="margin-bottom: 5px;">
                    <div class="col-md-2">
                        <input type="checkbox" ng-click="form.selectedRow = row" ng-checked="angular.equals(row, form.selectedRow)">
                        <input style="width: 120px;" type="text" placeholder="Topic" ng-model="row.category" 
                        ng-dblclick="form.addToCategoryDict(row.category)" typeahead="cat for cat in form.categories | filter:$viewValue | limitTo:8"/>
                    </div>
                    <div class="col-md-10">
                        <div style="width: 95%;" placeholder="Description" ng-model="row.description" 
                            text-angular="text-angular" ta-toolbar="[['ul', 'ol', 'html'], ['type_todo', 'type_issue', 'type_question', 'type_decision', 'type_info', 'type_idea', 'type_calendar'], ['status_new', 'status_progress', 'status_done'], ['teamMembers']]"></div>                        
                    </div>
                </div>
            </div>
		</form>
		
			<div class="buttons" style="text-align: right;">
				<span class="label label-success">{{form.successMessage}}</span>
				<span class="label label-danger">{{form.errorMessage}}</span>
				<button class="btn btn-danger" ng-if="form.action == 'edit' && currentUser.isAdmin == true" ng-click="delete()">Delete</button>
				<button class="btn btn-success" ng-if="form.action == 'edit'" ng-click="saveAs()">Save As</button>
				<button class="btn btn-primary" ng-if="form.action == 'create' || form.action == 'edit'" ng-click="save()">Save</button>			
			</div>
		
		</div>
	</div>
</div>