<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>Projects <span class="label label-default" style="cursor: pointer;" ng-click="resetForm()">Add Project</span></h3><hr/>
			
			<div class="row">
				<div class="col-md-3">
					<div ng-if="projects.length == 0">-No Projects available-</div>
					<ul ng-if="projects.length > 0" class="list-group">
						<li class="list-group-item" ng-repeat="project in projects | orderBy : 'name'" ng-click="edit(project)" style="cursor: pointer;" ng-class="{'active': (project._id == form.project._id)}">
							<h4 class="list-group-item-heading">{{project.name}}</h4>
							<p class="list-group-item-text">{{project.description}}</p>		
						</li>
					</ul>
				</div>
				<div class="col-md-9">
					<h4>{{form.title}}</h4> 
					<div class="row">
						<div class="col-md-3">
							<input type="text" class="form-control" placeholder="Name"  ng-model="form.project.name" />
						</div>
						<div class="col-md-5">
							<input type="text" class="form-control" placeholder="Description"  ng-model="form.project.description" />
						</div>						
					</div>
					
					<br/>
					<fieldset class="team-members-wrapper">
						<strong>Members</strong>
						<ul>
							<li style="list-style: none;" ng-repeat="member in team | orderBy : 'name'"><input type="checkbox" ng-model="member.isChecked"/>{{member.name}}({{member.email}})</li>
						</ul>						
					</fieldset>
					
					<div style="text-align: right; padding-top: 5px; border-top: 1px solid #eee;">
						<span class="label label-danger">{{form.errorMessage}}</span>
						<span class="label label-success">{{form.successMessage}}</span>
						<button class="btn btn-danger" ng-if="form.project._id != null && currentUser.isAdmin == true" ng-click="deleteProject()">Delete</button>
						<button class="btn btn-primary" ng-click="saveProject()">Save</button>					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>