<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h3>{{form.title}}</h3><hr/>
			
			<div class="row">                
				<div class="col-xs-12">
					<tabset style="min-height: 200px;">
						<tab heading="Member Info" active="true">
							<br/>
							<div class="row">
								<div class="col-xs-5">
									<input type="text" class="form-control" placeholder="Name"  ng-model="form.member.name" />
								</div>
								<div class="col-xs-5">
									<input type="text" class="form-control" placeholder="Email"  ng-model="form.member.email" />
								</div>
								<div class="col-xs-2">
									<input type="text" class="form-control" placeholder="Initials"  ng-model="form.member.initials" />
								</div>
							</div> <br/>
							<div>
								<input type="text" class="form-control" placeholder="Skills"  ng-model="form.member.skills" />
							</div> <br/>
					
							<div ng-if="form.member._id != null">
								<label>Is login available:</label> <span ng-if="form.member.password.length > 0">Yes</span>
								<span ng-if="!(form.member.password.length > 0)">No</span>
								<br/>
							</div>
						</tab>
						<tab heading="Set Password" ng-if="form.member.password.length == 0 || form.member.password == null">
							<br/>
							<input type="password" class="form-control" ng-model="form.member.newPassword" placeholder="Password"/>
						</tab>
						<tab heading="Change password" ng-if="form.member.password.length > 0 && (currentUser.isAdmin == true || form.member.email == currentUser.email)">
							<br/>
							<input type="password" class="form-control" ng-model="form.member.newPassword" placeholder="Password"/>
						</tab>
					</tabset> 
					
					<div style="text-align: right; padding-top: 5px; border-top: 1px solid #eee;">
						<span class="label label-danger">{{form.errorMessage}}</span>
						<span class="label label-success">{{form.successMessage}}</span>
						
						<button class="btn btn-danger" ng-if="form.member._id != null && currentUser.isAdmin == true" ng-click="deleteMember()">Delete</button>
						<button class="btn btn-primary" ng-click="saveMember()">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>